<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CrackCode/src/Q2_02_Return_Kth_To_Last/QuestionA.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Q2_02_Return_Kth_To_Last.QuestionA"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CrackCode"/>
</launchConfiguration>
